# Ignore Python cache
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore sensitive keys and credentials
serviceAccountKey.json
serviceDatabaseKey.json
.env

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db
